

<center>
<img src="images/white_on_tran_VL.png">
</center>

<a class="button" href="/signup">Sign Up</a>  //  
<a class="button" href="/login">Log In</a> // 
<a class="button" href="/logout">Log Out</a> 

</center>
