<!DOCTYPE html>
<html>
<head>
  <title>VINYLOGGER</title>
</head>
  <body>
  <center>
  <img src="/images/Black on Transparent.png" alt="Vinylogger Logo" width="550" height="500">
  <br>
  <br>
  
  <br>
  <br>
  <p>
  Somebody Was Trying To Tell Me That CDs<br>
  Are Better Because They Don't Have Any<br>
  Surface Noise. I Said, Listen Mate,<br>
  Life Has Surface Noise</p>
  <p><strong>- John Peel</strong></p>
  
  <a href="/signup">Sign Up</a> or <a href="/login">Log In</a>
  </center>
  
  </center>
  </body>
</html>

