<h1>SIGN UP</h1>

<form method="post" action="/users/signup">
First Name:
<input type="text" name="first_name">
<br>
Last Name:
<input type="text" name="last_name">
<br>
Username:
<input type="text" name="username">
<br>
Email: 
<input type="text" name="email">
<br>
Password:
<input type="password" name="password"> 
<br>
<br>
<input type="submit" name="Sign Up">