<% @albums.each do |album| %>
    <%= album.title %>
    <%= album.artist %>
    <%= album.release_date %>
    <%= ablum.description %>
  
<% end %>
  
<!-- back to user's home page -->
<a class="button" href="/users/account">HOME</a>