<center>
<h1>HERE YOU CAN ADD YOUR OWN ALBUMS!</h1>

<form action="/albums/collection" method="post">
    Title:
    <input type="text" name="title">
    <br>
    Artist:
    <input type="text" name="artist">
    <br>
    Release Date:
    <input type="text" name="release_date">
    <br>
    Description:
    <input type="" name="description">
    <br>
    Image:
    <input type="url" name="image"
    <br>
    <br>
    <input type="submit" name="submit">
    </form>
    <form method="post" action="/albums/collection">
        <input type="hidden" name="_method" value="Home">
        <input type="submit" value="Home">
    </form>
</center>