<center>
<h1>HERE YOU CAN ADD YOUR OWN ALBUMS!</h1>

<form action="/albums/collection/" method="post">
    Title:
    <input type="text" name="album.title">
    <br>
    Artist:
    <input type="text" name="album.artist">
    <br>
    Release Date:
    <input type="text" name="album.release_date">
    <br>
    Description:
    <input type="" name="album.description">
    <br>
    Image:
    <input type="url" name="album.image"
    <br>
    <br>
    <input type="submit" name="submit" id="submit" value="submit">
    </form>
</center>