<h1>VINYLOGGER</h1>
<p>Somebody Was Trying To Tell Me That CDs Are Better Because They Don't Have Any Surface Noise. I Said, Listen Mate, Life Has Surface Noise</p>

<a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.
