
<!DOCTYPE html>
<html>
<head>
  <title>VINYLOGGER</title>
</head>
  <body>
    <%= yield %>
    <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><small>&copy; 2020 <strong>Vinylogger</strong></small>.</p>
    </div>
  </footer>
</div>
</body>
</html>